##Latex
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex
*.thm
*.toc
*.vrb
*.xdy
*.xml

*.bib
.bak 
.mtc
build/
images/

##TestData
TestAudio/*
*.pyc
*.xlsx
/Code/OLD_results_summary
/Code/data
/Code/data_storage
/Code/results_mmse
/Code/results_omlsa
/Code/results_spectralSubtractor
/Code/results_wiener
/Code/results_summary/diagrams
